<a href="https://colab.research.google.com/github/neisg/Rh-tempo-de-servi-o/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#RH - Tempo de Trabalho
#Tempo de Experiência vs Salário

In [2]:
# Libs Necessárias

# Libs para Modelagem e Matrizez
import numpy as np
import pandas as pd

# Libs para anaálises gráficas
import matplotlib.pyplot as plt
import seaborn as sns

# Lib para ignorar avisos
import warnings

# Desabilitando avisos
warnings.filterwarnings('ignore')

In [4]:
# Lendo os dados
Base_Dados = pd.read_csv('/Salary_Data.csv')

# Verificando
Base_Dados.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0